{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
    .card{
        height: 350px;
        width: 500px;
        box-shadow: 1px 1px 3px #000000;
    }
    .card-header{
        background: inherit;
        border: 0px;
    }
    #parrot{
        max-width: 100%;
        min-width: 100%;
    }
    button.btn.btn-secondary{
        width: 100%;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">
            <div class="card-header mt-4">
                <div class="row">
                    <div class="col-md-2">
                        <img id="parrot" src="{% static 'images/parrot-0.svg' %}" alt="">
                    </div>
                    <div class="col-md-10">
                        <h4>Our parrot is ready to help you get your account back!</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>Enter the email you registered with below to receive further instructions.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group p-2">
                        <input type="email" name="email" id="id_email" 
                        class="form-control mb-3 {% if form.email.errors %}is-invalid{% endif %}" 
                        placeholder="email address" autofocus required>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="invalid-feedback mb-2">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        <button type="submit" class="btn btn-secondary">
                        Reset Now
                        <span class="fas fa-paper-plane"></span>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}