{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Explore topics{% endblock title %}

{% block styles %}
<style>
    h1.pt-4.pb-4{
        font-weight: bold;
    }
    .col-auto{
        padding-bottom: 15px;
    }
    .card-title{
        height:70px
    }
    .card{
        width: fit-content;
        height: fit-content;
    }
    .card-body{
        padding: 0px;
    }
    #topic-link{
        color: black;
        text-decoration: none;
    }
    #plus{
        font-size: 30px;
    }
    a, a:hover{
        color: black;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
    <h1 class="pt-4 pb-4 mb-4">Explore topics</h1>
    {% for classification in classifications %}
    {% if classification.topics.all %}
    <h2>{{ classification.name }}</h2><hr>
        <div class="row justify-content-center mb-4">
        {% for topic in classification.topics.all %}
            <div class="col-auto">
                <a id='topic-link' href="{% url 'topic' topic.slug %}">
                <div class="card">
                    <div class="card-title pt-3 pl-3 mb-0">
                        <div class="row">
                            <div class="col-auto">
                                <h4>{{ topic.name }}</h4>
                            </div>
                            <div class="col-auto my-auto mr-auto">
                                {% if topic in user.profile.topics.all %}
                                    <a href="{% url 'unfollow_topic' topic.slug %}" data-toggle='tooltip' data-placement='top'
                                    title="unfollow {{ topic.name }}">
                                        <span id="plus" class="fas fa-minus-circle"></span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'follow_topic' topic.slug %}" data-toggle='tooltip' data-placement='top'
                                    title="follow {{ topic.name }}">
                                        <span id="plus" class="fas fa-plus-circle"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% thumbnail topic.banner "278x180" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            alt="{{ topic.name }}">
                        {% endthumbnail %}
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}