{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Parrot - Password Reset</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&display=swap" 
    rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .container{
            width: 600px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'parrot.svg' %}" alt="daily-parrot" id="parrot">
            </div>
            <div class="col-md-8">
                Daily Parrot
            </div><br>
        </div>
        <div class="row">
            <h1>Reset Your Password</h1><hr><br>
            <p>
                Someone (hopefully you) requested for a password reset for email {{ email }}. 
                Click the link below to finalize this process:
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn btn-lg btn-primary">Reset</a>
                or paste the following link in your browser.<br>
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                </a>
            </p>
        </div>
        <div class="row">
            <p class="text-muted">Hate this emails?
                <a href="#" class="text-dark">Unsubscribe</a>
            </p>
        </div>
    </div>
</body>
</html>